<strong>Recuperando senha</strong>

<p>Uma solicitação de senha foi realizada para o email {{email}}. Caso não tenha sido você que solicitou, seria interessante a troca de senha.</p>

<p>Para continuar com a recuperação de senha, utilize o token {{ token }}, ou clique no link abaixo:</p>

<a href="{{ link }}">Redefinir minha senha</a>
